@import "tailwindcss";

:root {
  --background: #d9ecff;
  --foreground: #0a1a2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bubblegum-sans: var(--font-bubblegum-sans);
}

html {
  background-color: #fff;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/wallpapers/skolebole-wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

body {
  /* background: var(--background); */ /* commented out to allow Tailwind bg-image */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
