@import "tailwindcss";

:root {
  --background: #d9ecff;
  --foreground: #0a1a2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bubblegum-sans: var(--font-bubblegum-sans);
}

body {
  /* background: var(--background); */ /* commented out to allow Tailwind bg-image */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
